@* created from command line using dotnet new razorcomponent -n Todo -o Pages *@
@* -n specifies name of component and -o specifies output *@
@* ? Razor component file names required capitalized first letter *@

@page "/todo"

<h3>Todo</h3>
<p>@msg</p>

<ul>
    @foreach (var todo in todos)
    {
        <li>@todo.Title</li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>


@code { 
    private string msg = "Hello World";
    private List<TodoItem> todos = new();
    private string? newTodo;
    private void AddTodo()
    {
        @* * Append does not mutate the list - must reassign *@
        @* todos = todos.Append(new TodoItem {Title = newTodo}).ToList(); *@
        @* * Add mutates item it is called on *@
        todos.Add(new TodoItem {Title = newTodo});
        Console.WriteLine(todos.Last().Title);
        newTodo = string.Empty;
    }
} 
