@* created from command line using dotnet new razorcomponent -n Todo -o Pages *@
@* -n specifies name of component and -o specifies output *@
@* ? Razor component file names required capitalized first letter *@

@page "/todo"

<h3>Todo</h3>
<p>@msg</p>

@code { 
    private string msg = "Hello World";
} 
